<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\User\Model\ResourceModel\User">
        <plugin name="vendic_validate_user_password"
                type="Vendic\AdminPasswordPolicy\Plugin\ValidatePassword"/>
    </type>

    <type name="Vendic\AdminPasswordPolicy\Plugin\ValidatePassword">
        <arguments>
            <argument name="rules" xsi:type="array">
                <item name="does_not_contain" xsi:type="object">Vendic\AdminPasswordPolicy\Rules\DoesNotContain</item>
                <item name="does_not_have_first_name" xsi:type="object">Vendic\AdminPasswordPolicy\Rules\DoesNotHaveFirstName</item>
                <item name="does_not_have_last_name" xsi:type="object">Vendic\AdminPasswordPolicy\Rules\DoesNotHaveLastName</item>
                <item name="does_not_have_username" xsi:type="object">Vendic\AdminPasswordPolicy\Rules\DoesNotHaveUsername</item>
                <item name="does_not_have_email" xsi:type="object">Vendic\AdminPasswordPolicy\Rules\DoesNotHaveEmail</item>
                <item name="has_lowercase" xsi:type="object">Vendic\AdminPasswordPolicy\Rules\HasLowercase</item>
                <item name="has_uppercase" xsi:type="object">Vendic\AdminPasswordPolicy\Rules\HasUppercase</item>
                <item name="has_special_character" xsi:type="object">Vendic\AdminPasswordPolicy\Rules\HasSpecialCharacter</item>
            </argument>
        </arguments>
    </type>
</config>
