<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="admin">
            <group id="password_policy" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Password Policy</label>
                <field id="inactive_user_whitelist" translate="label" type="multiselect" sortOrder="10" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Inactive Admin Users Whitelist</label>
                    <source_model>Vendic\AdminPasswordPolicy\Model\Config\Source\AdminUsers</source_model>
                    <can_be_empty>1</can_be_empty>
                    <comment>Please choose inactive admin users to avoid disabling by cron (if inactive > 90 days)</comment>
                </field>
                <field id="forbidden_words" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Forbidden Words</label>
                    <frontend_model>Vendic\AdminPasswordPolicy\Block\Adminhtml\System\Config\Form\Field\ForbiddenWords</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
